pytest
flask
setuptools
pytest-flask
sphinx
sphinx-autoapi
werkzeug# en dépendance de flask mais la 3.0.0 en imcompatible avec https://stackoverflow.com/questions/77213053/importerror-cannot-import-name-url-quote-from-werkzeug-urls
py-make
flask_restful
configparser
flask_cors
psycopg2
requests
config
pytest-html
flask_jwt_extended